body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu {
	padding-top: 50px;
}

.menu button {
	width: 300px;
	height: 40px;
	background-color: #827f7f;
	color: #e5dede;
	border: none;
	border-radius: 0.5vh;
}
.menu button:hover {
	background-color: #454444;
}

.board {
	margin: 200 auto;
	background-color: white;
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

.board-cell {
	width: calc(100% / 3);
	height: calc(100% / 3);
	border: solid 0.5px #666;
	cursor: pointer;
}

.board-cell:hover {
	background-color: #d1d1d1;
	opacity: 0.5;
}

.selected {
	cursor: not-allowed;
	margin: 0;
	padding: 0;
	font-size: 4rem;
	text-align: center;
}
.selected:hover {
	background-color: whitesmoke;
}
